.card {
  align-items: center;
  margin-left: 500px;
}
.jumbotron {
  background: linear-gradient(105deg, #316b5c, #c2d08a, #cec38a, #6a8570);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 32s ease infinite;
  -moz-animation: AnimationName 32s ease infinite;
  animation: AnimationName 32s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 96% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 96% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 96% 0%;
  }
}

.padreFlex {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #6a8570;
}

.listaMenu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #6a8570;
}

ul.listaMenu li {
  display: inline-block;
  font-size: 40px;
  font-family: "Assistant", sans-serif;
  background-color: #6a8570;
}
a {
  color: #162d13;
  display: inline-block;
}
a:hover {
  animation: pulse;
  animation-duration: 2.5s;
  background-color: #6a8570;
  color: rgb(254, 255, 251);
}

ul ul {
  position: absolute;
  display: none;
}
ul ul li {
  display: block;
}
ul li:hover ul {
  display: block;
}

a {
  text-decoration: none;
  padding: 6px;
}

section {
  margin: 20px;
  display: inline-block;
}

.parrafo {
  padding-left: 1%;
  font-family: "Assistant", sans-serif;
  position: relative;
  top: 10px;
  left: 30px;
  max-width: 33%;
  height: 50%;
  color: rgb(254, 255, 251);
  display: inline-block;
}
.parrafo:hover {
  animation: pulse;
  animation-duration: 5s;
}
h1 {
  font-family: "Assistant", sans-serif;
  margin-left: 50px;
  margin-top: 0%;
  padding-top: 5%;
  color: rgb(254, 255, 251);
}
h3 {
  font-family: "Assistant", sans-serif;
  color: rgb(82, 83, 76);
}
img {
  margin: 50px;
}

p {
  font-family: "Assistant", sans-serif;
  font-size: 140%;
  color: rgb(127, 128, 126);
}
.lead {
  font-family: "Assistant", sans-serif;
  font-size: 140%;
  color: rgb(255, 255, 255);
  margin-left: 5%;
}

.contenedor {
  display: grid;
}
.imagenGaleria {
  display: flex;
  flex-direction: column;
  max-width: 20%;
}
.galeriaImagen {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

.flexPadreDos {
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  justify-content: center;
  margin-top: auto;
  padding-top: 5%;
}
.contenedorSobreMi {
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.curso {
  font-size: 20px;
  font-family: "Assistant", sans-serif;
  color: rgb(254, 255, 251);
  margin-top: 20%;
  margin-left: 5%;
}
.tituloCurso {
  margin-left: 0%;
}
.contenedorGrilla {
  display: grid;
  grid-template-rows: 30% 30% 30%;
  grid-template-columns: 50% 50%;
}
.fotoCurso {
  max-width: 87%;
  margin-top: 25%;
}

@media only screen and (min-width: 320px) {
  .contenedor {
    display: grid;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-columns: 88%;
  }
}

@media only screen and (min-width: 768px) {
  .contenedor {
    display: grid;
    grid-template-rows: 40% 40%;
    grid-template-columns: 44% 44%;
  }
}
@media only screen and (min-width: 1024px) {
  .contenedor {
    display: grid;
    grid-template-rows: 80%;
    grid-template-columns: 22% 22% 22% 22%;
  }
}
.css-selector {
  background: linear-gradient(105deg, #316b5c, #c2d08a, #cec38a, #6a8570);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 32s ease infinite;
  -moz-animation: AnimationName 32s ease infinite;
  animation: AnimationName 32s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 96% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 96% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 96% 0%;
  }
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(125, 148, 136);
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}

input[type="enviar"] {
  width: 60%;
  background-color: #6a8570;
  color: white;
  padding: 14px 20px;
  margin: 3px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Assistant", sans-serif;
}

input[type="enviar"]:hover {
  background-color: #6a8570;
  font-family: "Assistant", sans-serif;
}

.formularioContacto {
  background-color: #6a8570;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  background-color: #8da08f;
  padding: 20px;
  font-family: "Assistant", sans-serif;
}
.formularioContacto {
  background-color: rgb(198, 216, 174);
  font-family: "Assistant", sans-serif;
}
.btn-primary {
  color: #fff;
  background-color: #5b755e;
  border-color: #5b755e;
}

.btn-primary:hover {
  color: #fff;
  background-color: #334739;
  border-color: #334739;
}
