a {
  font-size: 1rem;
}
a:hover {
  animation: pulse;
  animation-duration: 2.5s;
  background-color: #6a8570;
  color: rgb(254, 255, 251);
}
h1 {
  font-family: "Assistant", sans-serif;
  margin-left: 50px;
  margin-top: 0%;
  padding-top: 5%;
  color: rgb(254, 255, 251);
}

$verdeboton: #6a8570;

.jumbotron {
  background: linear-gradient(105deg, #316b5c, #c2d08a, #cec38a, $verdeboton);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 32s ease infinite;
  -moz-animation: AnimationName 32s ease infinite;
  animation: AnimationName 32s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 96% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 96% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 96% 0%;
  }
}
form {
  background-color: $verdeboton;
  margin-right: auto;
  border-radius: 3px;
  background-color: #8da08f;
  padding: 20px;
  font-family: "Assistant", sans-serif;
  color: aliceblue;
  margin-left: 35%;
  margin-right: 35%;
}

button {
  @extend .btn-primary;
  font-family: "Assistant", sans-serif;
}

.btn-primary {
  color: #fff;
  background-color: $verdeboton;
  border-color: $verdeboton;
}
.btn-primary:hover {
  @extend .btn-primary;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #a9d6b3;
  border-color: $verdeboton;
}

.btn-primary:focus {
  color: #fff;
  background-color: $verdeboton;
  border-color: $verdeboton;
}
//footer css

body {
  font-family: "Assistant", sans-serif;
  @extend a;
}
.bg-grey {
  margin-bottom: 5%;
  margin-top: 5%;
  background: #51685f;
  margin-right: 0;
  margin-left: 0;
}
.logo-part {
  margin-bottom: 40px;
  font-family: "Assistant", sans-serif;
}
footer {
  color: rgb(245, 253, 251);
}
footer p {
  font-size: 1rem;
  font-family: "Assistant", sans-serif;
}
p {
  margin-left: 10%;
  position: relative;
}
footer h6 {
  font-family: "Assistant", sans-serif;
  margin-bottom: 40px;
  position: relative;
}

.btn-footer {
  color: grey;
  text-decoration: none;
  border: 1px solid;
  border-radius: 43px;
  font-size: 1.25rem;
  padding: 7px 30px;
  line-height: 47px;
}
